:root {
  //fonts
  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Roboto Slab", serif;

  //colors
  --clr-white: #ffffff;
  --clr-white-100: #fcfcfc;
  --clr-black: #444444;
  --clr-brand: #268ccc;
}
