@import "./components/variable";
@import "./components/navigation";

body {
  font-family: var(--ff-primary);
  color: var(--clr-black);
}

//reusables
@mixin header-styles {
  font-family: var(--ff-secondary);
  color: var(--clr-brand, #3493cb);
}

//banner
.banner {
  background-image: url(/src/assests/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.507);
  }
  .banner-text {
    font-family: var(--ff-secondary);
  }
}

//show-case
.show-case {
  background: linear-gradient(
    180deg,
    #3493cb 0.1%,
    rgba(255, 255, 255, 0) 110.64%
  );

  .card {
    transition: all ease-in-out 0.3s;
    h2 {
      color: var(--clr-brand, #3493cb);
      font-family: var(--ff-secondary);
      text-transform: uppercase;
    }

    &:hover {
      transform: translateY(-1rem);
    }
  }
}

// about-us
.about-us {
  .text-wrapper {
    h3 {
      font-family: var(--ff-secondary);
    }
  }
}

.about-doctor {
  .header {
    @include header-styles;
  }
  .text-wrapper {
    h4 {
      font-family: var(--ff-secondary);
    }
  }
}

//logos
.logos {
  img {
    height: 3rem;
  }
}

//services
.services {
  background: radial-gradient(50% 50% at 50% 50%, #fff 0%, #cfe3f2 100%);
  .header {
    @include header-styles;
  }

  .service-card {
    .icon {
      border: solid 2px var(--clr-brand, #3493cb);
      transition: all ease-in-out 0.3s;
      svg {
        height: 5rem;
        fill: var(--clr-white, #fff);
      }
      &:hover {
        background-color: var(--clr-white, #fff);
        svg {
          fill: var(--clr-brand, #3493cb);
        }
      }
    }

    .service-title {
      color: var(--clr-brand, #3493cb);
      font-family: var(--ff-secondary);
      text-transform: uppercase;
      text-align: center;
    }
  }
}

//reviews
.reviews {
  .header {
    @include header-styles;
  }

  .review-text {
    &::after {
      content: "\201C";
      position: absolute;
      left: -2rem;
      top: -2rem;
      font-size: 5rem;
      color: #bbbbbb;
    }
    svg {
      display: inline;
    }
  }
}

//splide resets
.splide__pagination {
  bottom: -1.5em !important;
}

//insurance-info
.insurance-info {
  .text-wrapper {
    h4,
    button {
      @include header-styles;
    }
  }
}

//gallery
.gallery {
  .header {
    @include header-styles;
  }
  .gallery-card {
    img {
      transition: all ease-in-out 0.3s;
      &:hover {
        scale: 1.2;
      }
    }
  }
}

//footer
.footer {
  h5 {
    text-transform: uppercase;
    font-family: var(--ff-secondary);
  }
}

//copyright
.copyright {
  .social-links {
    svg {
      height: 1rem;
    }
  }
}
